<!DOCTYPE html>
<html lang="en">

<%- include("layout/head") -%>

    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                
                <span class="site-heading-lower">Drive Test</span>
            </h1>
        </header>

        <%- include("layout/navbar") -%>

        <main>
            <section class="page-section cta">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <div class="cta-inner bg-faded text-center rounded">
                               
                                <h2> list of pass candidates </h2>
                                <table>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                    <% for (var i = 0; i < user.length; i++) { %>   
                                    <tr>
                                        <td><%- user[i].fname%> <%- user[i].lname%></td>
                                    </tr>
                                    <% } %>
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include("layout/footer") -%>
        <%- include("layout/script") -%>
    </body>
</html>
